{% extends 'main/layout.html' %}
{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8">
    <h1 class="page-header">
        Page Heading
        <small>Secondary Text</small>
    </h1>

    {% for post in page_object.object_list %}
    <!-- First Blog Post -->
    {% include 'blog/includes/post_card.html' %}
    {% endfor %}

    <!-- Pager -->
    <!--    <ul class="pager">-->
    <!--        <li class="previous">-->
    <!--            <a href="#">&larr; Older</a>-->
    <!--        </li>-->
    <!--        <li class="next">-->
    <!--            <a href="#">Newer &rarr;</a>-->
    <!--        </li>-->
    <!--    </ul>-->
    {% if is_paginated %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not prev_url %} disabled {% endif %}">
                <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>

            {% for n in page_object.paginator.page_range %}

                {% if page_object.number == n %}
                    <li class="page-item active">
                      <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
                    </li>
                {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                </li>
                {% endif %}


            {% endfor %}

            <li class="page-item {% if not next_url %} disabled {% endif %}">
                <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">Next</a>
            </li>
        </ul>
    </nav>

    {% endif %}

</div>

{% endblock %}

